include package.json
include README.md
include install.json
graft jupyterlab-ai-sync/labextension

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
